body {
    background-color: #1e90ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #dce8f4;
    border-radius: 10px;
    box-shadow: 0px4px15pxrgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h3 {
    color: #1e90ff;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"], input[type="password"] {
    border: 1px solid #1e90ff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    color: #333333;
    background-color: #f0f8ff;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4682b4;
    outline: none;
    background-color: #ffffff;
}

button.bnn {
    background-color: #1e90ff;
    border: none;
    color: #ffffff;
    padding: 10px20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button.bnn:hover {
    background-color: #4682b4;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }
}
